/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
key.txt
/.fleet
/.idea
/.vscode

*.lock
larex-7e3e6-firebase-adminsdk-5uhc9-dbef4fc3b0.json
